# The purpose of this template is to define a minimal set of environment
# variables shared between components: agent, cluster-agent
{{- define "components-common-env" -}}
- name: DD_LANGUAGE_DETECTION_ENABLED
  value: {{ include "language-detection-enabled" .  | quote }}
- name: DD_LANGUAGE_DETECTION_REPORTING_ENABLED
  value: {{ include "language-detection-enabled" .  | quote }}
{{- if .Values.datadog.secretBackend.command }}
- name: DD_SECRET_BACKEND_COMMAND
  value: {{ .Values.datadog.secretBackend.command | quote }}
{{- end }}
{{- if .Values.datadog.secretBackend.arguments }}
- name: DD_SECRET_BACKEND_ARGUMENTS
  value: {{ .Values.datadog.secretBackend.arguments | quote }}
{{- end }}
{{- if .Values.datadog.secretBackend.timeout }}
- name: DD_SECRET_BACKEND_TIMEOUT
  value: {{ .Values.datadog.secretBackend.timeout | quote }}
{{- end }}
{{- if .Values.datadog.clusterName }}
{{- template "check-cluster-name" . }}
- name: DD_CLUSTER_NAME
  value: {{ tpl .Values.datadog.clusterName . | quote }}
{{- end }}
{{- if .Values.datadog.tags }}
- name: DD_TAGS
  value: {{ tpl (.Values.datadog.tags | join " " | quote) . }}
{{- end }}
{{- if .Values.datadog.nodeLabelsAsTags }}
- name: DD_KUBERNETES_NODE_LABELS_AS_TAGS
  value: '{{ toJson .Values.datadog.nodeLabelsAsTags }}'
{{- end }}
{{- if .Values.datadog.podLabelsAsTags }}
- name: DD_KUBERNETES_POD_LABELS_AS_TAGS
  value: '{{ toJson .Values.datadog.podLabelsAsTags }}'
{{- end }}
{{- if .Values.datadog.podAnnotationsAsTags }}
- name: DD_KUBERNETES_POD_ANNOTATIONS_AS_TAGS
  value: '{{ toJson .Values.datadog.podAnnotationsAsTags }}'
{{- end }}
{{- if .Values.datadog.namespaceLabelsAsTags }}
- name: DD_KUBERNETES_NAMESPACE_LABELS_AS_TAGS
  value: '{{ toJson .Values.datadog.namespaceLabelsAsTags }}'
{{- end }}
{{- if .Values.datadog.namespaceAnnotationsAsTags }}
- name: DD_KUBERNETES_NAMESPACE_ANNOTATIONS_AS_TAGS
  value: '{{ toJson .Values.datadog.namespaceAnnotationsAsTags }}'
{{- end }}
- name: KUBERNETES
  value: "yes"
{{- if .Values.datadog.site }}
- name: DD_SITE
  value: {{ .Values.datadog.site | quote }}
{{- end }}
{{- if .Values.datadog.dd_url }}
- name: DD_DD_URL
  value: {{ .Values.datadog.dd_url | quote }}
{{- end }}
{{- if not .Values.datadog.excludePauseContainer }}
- name: DD_EXCLUDE_PAUSE_CONTAINER
  value: "false"
{{- end }}
{{- end }}
