{{- define "container-system-probe" -}}
- name: system-probe
  image: "{{ include "image-path" (dict "root" .Values "image" .Values.agents.image) }}"
  imagePullPolicy: {{ .Values.agents.image.pullPolicy }}
{{ include "generate-security-context" (dict "securityContext" .Values.agents.containers.systemProbe.securityContext "targetSystem" .Values.targetSystem "seccomp" .Values.datadog.systemProbe.seccomp "kubeversion" .Capabilities.KubeVersion.Version) | indent 2 }}
  command: ["/opt/datadog-agent/embedded/bin/system-probe", "--config=/etc/datadog-agent/system-probe.yaml"]
{{- if .Values.agents.containers.systemProbe.ports }}
  ports:
{{ toYaml .Values.agents.containers.systemProbe.ports | indent 2 }}
{{- end }}
{{- if or .Values.datadog.envFrom .Values.agents.containers.systemProbe.envFrom }}
  envFrom:
{{- if .Values.datadog.envFrom }}
{{ .Values.datadog.envFrom | toYaml | indent 4 }}
{{- end }}
{{- if .Values.agents.containers.systemProbe.envFrom }}
{{ .Values.agents.containers.systemProbe.envFrom | toYaml | indent 4 }}
{{- end }}
{{- end }}
  env:
    {{- include "containers-common-env" . | nindent 4 }}
    - name: DD_LOG_LEVEL
      value: {{ .Values.agents.containers.systemProbe.logLevel | default .Values.datadog.logLevel | quote }}
    {{- if .Values.datadog.serviceMonitoring.enabled }}
    - name: HOST_ROOT
      value: "/host/root"
    {{- end }}
    {{- include "additional-env-entries" .Values.agents.containers.systemProbe.env | indent 4 }}
    {{- include "additional-env-dict-entries" .Values.agents.containers.systemProbe.envDict | indent 4 }}
  resources:
{{ toYaml .Values.agents.containers.systemProbe.resources | indent 4 }}
  volumeMounts:
    - name: auth-token
      mountPath: {{ template "datadog.confPath" . }}/auth
      readOnly: true
    - name: logdatadog
      mountPath: /var/log/datadog
      readOnly: false # Need RW to write logs
    - name: tmpdir
      mountPath: /tmp
      readOnly: false # Need RW for tmp directory to instantiate self tests
    - name: debugfs
      mountPath: /sys/kernel/debug
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: false # Need RW for kprobe_events
    - name: config
      mountPath: {{ template "datadog.confPath" . }}
      readOnly: true
    {{- include "container-cloudinit-volumemounts" . | nindent 4 }}
    {{- if .Values.agents.useConfigMap }}
    - name: datadog-yaml
      mountPath: {{ template "datadog.confPath" . }}/datadog.yaml
      subPath: datadog.yaml
      readOnly: true
    {{- end }}
    - name: sysprobe-config
      mountPath: /etc/datadog-agent/system-probe.yaml
      subPath: system-probe.yaml
      readOnly: true
    - name: sysprobe-socket-dir
      mountPath: /var/run/sysprobe
      readOnly: false # Need RW for sys-probe socket
    - name: procdir
      mountPath: /host/proc
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
    {{- include "linux-container-host-release-volumemounts" . | nindent 4 }}
  {{- if .Values.datadog.systemProbe.enableDefaultOsReleasePaths }}
    {{- if ne .Values.datadog.osReleasePath "/etc/redhat-release" }}
    - name: etc-redhat-release
      mountPath: /host/etc/redhat-release
      readOnly: true
    {{- end }}
    {{- if ne .Values.datadog.osReleasePath "/etc/fedora-release" }}
    - name: etc-fedora-release
      mountPath: /host/etc/fedora-release
      readOnly: true
    {{- end }}
    {{- if ne .Values.datadog.osReleasePath "/etc/lsb-release" }}
    - name: etc-lsb-release
      mountPath: /host/etc/lsb-release
      readOnly: true
    {{- end }}
  {{- end }}
{{- if .Values.datadog.serviceMonitoring.enabled }}
    - name: hostroot
      mountPath: /host/root
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
{{- end }}
{{- if and (eq (include "runtime-compilation-enabled" .) "true") .Values.datadog.systemProbe.enableDefaultKernelHeadersPaths }}
    - name: modules
      mountPath: /lib/modules
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
{{- if eq (include "can-mount-host-usr-src" .) "false" }}
    - name: src
      mountPath: /usr/src
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
{{- end }}
{{- end }}
{{- if and (or .Values.datadog.securityAgent.runtime.enabled .Values.datadog.securityAgent.runtime.fimEnabled) .Values.datadog.securityAgent.runtime.policies.configMap }}
    - name: runtimepoliciesdir
      mountPath: /etc/datadog-agent/runtime-security.d
      readOnly: true
{{- end }}
{{- if eq (include "runtime-compilation-enabled" .) "true" }}
    - name: runtime-compiler-output-dir
      mountPath: {{ .Values.datadog.systemProbe.runtimeCompilationAssetDir }}/build
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: false
    - name: kernel-headers-download-dir
      mountPath: {{ .Values.datadog.systemProbe.runtimeCompilationAssetDir }}/kernel-headers
      readOnly: false # Need RW for sys-probe kernel headers
{{- if not .Values.datadog.systemProbe.mountPackageManagementDirs }}
    - name: apt-config-dir
      mountPath: /host/etc/apt
      readOnly: true
    - name: yum-repos-dir
      mountPath: /host/etc/yum.repos.d
      readOnly: true
    - name: opensuse-repos-dir
      mountPath: /host/etc/zypp
      readOnly: true
    - name: public-key-dir
      mountPath: /host/etc/pki
      readOnly: true
    - name: yum-vars-dir
      mountPath: /host/etc/yum/vars
      readOnly: true
    - name: dnf-vars-dir
      mountPath: /host/etc/dnf/vars
      readOnly: true
    - name: rhel-subscription-dir
      mountPath: /host/etc/rhsm
      readOnly: true
{{- else }}
{{- range .Values.datadog.systemProbe.mountPackageManagementDirs }}
    - name: {{ .name }}
      mountPath: {{ .mountPath }}
      readOnly: true
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.datadog.systemProbe.btfPath }}
    - name: btf-path
      mountPath: {{ .Values.datadog.systemProbe.btfPath }}
      readOnly: true
{{- end }}
{{- if .Values.agents.volumeMounts }}
{{ toYaml .Values.agents.volumeMounts | indent 4 }}
{{- end }}
{{- end -}}
