# The purpose of this template is to define a minimal set of environment
# variables required to operate dedicated containers in the daemonset
{{- define "containers-common-env" -}}
- name: DD_API_KEY
  valueFrom:
    secretKeyRef:
      name: {{ template "datadog.apiSecretName" . }}
      key: api-key
- name: DD_REMOTE_CONFIGURATION_ENABLED
  value: {{ include "datadog-remoteConfiguration-enabled" . | quote }}
{{- if (not .Values.providers.gke.autopilot) }}
- name: DD_AUTH_TOKEN_FILE_PATH
  value: {{ template "datadog.confPath" . }}/auth/token
{{- end }}
{{ include "components-common-env" . }}
{{ include "language-detection-common-env" . }}
{{- if .Values.datadog.kubelet.host }}
- name: DD_KUBERNETES_KUBELET_HOST
{{ toYaml .Values.datadog.kubelet.host | indent 2 }}
{{- end }}
{{- if .Values.datadog.kubelet.tlsVerify | quote }}
- name: DD_KUBELET_TLS_VERIFY
  value: {{ .Values.datadog.kubelet.tlsVerify | quote }}
{{- end }}
{{- if ne (include "datadog.kubelet.mountPath" .) "" }}
- name: DD_KUBELET_CLIENT_CA
  value: {{ include "datadog.kubelet.mountPath" . }}
{{- end }}
{{- if .Values.providers.gke.autopilot }}
- name: DD_KUBERNETES_HTTPS_KUBELET_PORT
  value: "0"
{{- end }}
{{- if .Values.providers.gke.gdc }}
- name: DD_NODE_NAME
  valueFrom:
    fieldRef:
      apiVersion: v1
      fieldPath: spec.nodeName
- name: DD_HOSTNAME
  value: "$(DD_NODE_NAME)-$(DD_CLUSTER_NAME)"
{{- end }}
{{- if eq .Values.targetSystem "linux" }}
{{- if .Values.providers.eks.ec2.useHostnameFromFile }}
- name: DD_HOSTNAME_FILE
  value: /var/lib/cloud/data/instance-id
{{- end }}
{{- end }}
{{- include "additional-env-entries" .Values.datadog.env }}
{{- include "additional-env-dict-entries" .Values.datadog.envDict }}
{{- if .Values.datadog.acInclude }}
- name: DD_AC_INCLUDE
  value: {{ .Values.datadog.acInclude | quote }}
{{- end }}
{{- if .Values.datadog.acExclude }}
- name: DD_AC_EXCLUDE
  value: {{ .Values.datadog.acExclude | quote }}
{{- end }}
{{- if .Values.datadog.containerInclude }}
- name: DD_CONTAINER_INCLUDE
  value: {{ .Values.datadog.containerInclude | quote }}
{{- end }}
{{- if .Values.datadog.containerExclude }}
- name: DD_CONTAINER_EXCLUDE
  value: {{ .Values.datadog.containerExclude | quote }}
{{- end }}
{{- if .Values.datadog.containerIncludeMetrics }}
- name: DD_CONTAINER_INCLUDE_METRICS
  value: {{ .Values.datadog.containerIncludeMetrics | quote }}
{{- end }}
{{- if .Values.datadog.containerExcludeMetrics }}
- name: DD_CONTAINER_EXCLUDE_METRICS
  value: {{ .Values.datadog.containerExcludeMetrics | quote }}
{{- end }}
{{- if .Values.datadog.containerIncludeLogs }}
- name: DD_CONTAINER_INCLUDE_LOGS
  value: {{ .Values.datadog.containerIncludeLogs | quote }}
{{- end }}
{{- if .Values.datadog.containerExcludeLogs }}
- name: DD_CONTAINER_EXCLUDE_LOGS
  value: {{ .Values.datadog.containerExcludeLogs | quote }}
{{- end }}
{{- if .Values.datadog.otlp }}

{{- if .Values.datadog.otlp.receiver }}
{{- if .Values.datadog.otlp.receiver.protocols }}
{{- with .Values.datadog.otlp.receiver.protocols }}

{{- if (and .grpc .grpc.enabled) }}
- name: DD_OTLP_CONFIG_RECEIVER_PROTOCOLS_GRPC_ENDPOINT
  value: {{ .grpc.endpoint | quote }}
{{- end }}

{{- if (and .http .http.enabled) }}
- name: DD_OTLP_CONFIG_RECEIVER_PROTOCOLS_HTTP_ENDPOINT
  value: {{ .http.endpoint | quote }}
{{- end }}

{{- end }}
{{- end }}
{{- end }}

{{- with .Values.datadog.otlp.logs }}
- name: DD_OTLP_CONFIG_LOGS_ENABLED
  value: {{ .enabled | quote }}
{{- end }}

{{- end }}
{{- if eq (include "agent-has-env-ad" .) "true" }}
{{- if .Values.datadog.dockerSocketPath }}
- name: DOCKER_HOST
{{- if eq .Values.targetSystem "linux" }}
  value:  unix://{{ print "/host/" .Values.datadog.dockerSocketPath | clean }}
{{- end }}
{{- if eq .Values.targetSystem "windows" }}
  value: npipe://{{ .Values.datadog.dockerSocketPath | replace "\\" "/" }}
{{- end }}
{{- end }}
{{- if .Values.datadog.criSocketPath }}
- name: DD_CRI_SOCKET_PATH
{{- if eq .Values.targetSystem "linux" }}
  value: {{ print "/host/" .Values.datadog.criSocketPath | clean }}
{{- end }}
{{- if eq .Values.targetSystem "windows" }}
  value: {{ .Values.datadog.criSocketPath }}
{{- end }}
{{- end }}
{{- else }} # No support for env AD
{{- if (eq (include  "container-runtime-support-enabled" .) "true") }}
{{- if or .Values.providers.gke.autopilot .Values.datadog.criSocketPath }}
- name: DD_CRI_SOCKET_PATH
  value: {{ print "/host/" (include "datadog.dockerOrCriSocketPath" .) | clean }}
{{- else }}
- name: DOCKER_HOST
{{- if eq .Values.targetSystem "linux" }}
  value: unix://{{ print "/host/" (include "datadog.dockerOrCriSocketPath" .) | clean }}
{{- end }}
{{- if eq .Values.targetSystem "windows" }}
  value: npipe://{{ (include "datadog.dockerOrCriSocketPath" .) | replace "\\" "/" }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{ include "provider-env" . }}
{{- end -}}


{{/*
Return a list of env-vars if the cluster-agent is enabled
*/}}
{{- define "containers-cluster-agent-env" -}}
- name: DD_CLUSTER_AGENT_ENABLED
  value: {{ (include "cluster-agent-enabled" .) | quote }}
{{- if eq (include "should-deploy-cluster-agent" .) "true" }}
- name: DD_CLUSTER_AGENT_KUBERNETES_SERVICE_NAME
  value: {{ template "datadog.fullname" . }}-cluster-agent
- name: DD_CLUSTER_AGENT_AUTH_TOKEN
  valueFrom:
    secretKeyRef:
        name: {{ template "clusterAgent.tokenSecretName" . }}
        key: token
{{- else if eq (include "existingClusterAgent-configured" .) "true" }}
- name: DD_CLUSTER_AGENT_KUBERNETES_SERVICE_NAME
  value: {{ .Values.existingClusterAgent.serviceName | quote }}
- name: DD_CLUSTER_AGENT_AUTH_TOKEN
  valueFrom:
    secretKeyRef:
        name: {{ .Values.existingClusterAgent.tokenSecretName | quote }}
        key: token
{{- end }}
{{- end -}}
