{{- define "container-process-agent" -}}
- name: process-agent
  image: "{{ include "image-path" (dict "root" .Values "image" .Values.agents.image) }}"
  imagePullPolicy: {{ .Values.agents.image.pullPolicy }}
  {{- if .Values.agents.lifecycle }}
  lifecycle:
{{ toYaml .Values.agents.lifecycle | indent 4 }}
  {{- end }}
  {{- if eq .Values.targetSystem "linux" }}
  command: ["process-agent", "{{template "process-agent-config-file-flag" . }}={{ template "datadog.confPath" . }}/datadog.yaml"]
  {{- end }}
  {{- if eq .Values.targetSystem "windows" }}
  command: ["process-agent", "-foreground", "{{template "process-agent-config-file-flag" . }}={{ template "datadog.confPath" . }}/datadog.yaml"]
  {{- end -}}
{{ include "generate-security-context" (dict "securityContext" .Values.agents.containers.processAgent.securityContext "targetSystem" .Values.targetSystem "seccomp" "" "kubeversion" .Capabilities.KubeVersion.Version) | nindent 2 }}
{{- if .Values.agents.containers.processAgent.ports }}
  ports:
{{ toYaml .Values.agents.containers.processAgent.ports | indent 2 }}
{{- end }}
  resources:
{{- if and (empty .Values.agents.containers.processAgent.resources) .Values.providers.gke.autopilot -}}
{{ include "default-container-resources" . | indent 4 }}
{{- else }}
{{ toYaml .Values.agents.containers.processAgent.resources | indent 4 }}
{{- end }}
{{- if or .Values.datadog.envFrom .Values.agents.containers.processAgent.envFrom }}
  envFrom:
{{- if .Values.datadog.envFrom }}
{{ .Values.datadog.envFrom | toYaml | indent 4 }}
{{- end }}
{{- if .Values.agents.containers.processAgent.envFrom }}
{{ .Values.agents.containers.processAgent.envFrom | toYaml | indent 4 }}
{{- end }}
{{- end }}
  env:
    {{- include "containers-common-env" . | nindent 4 }}
    {{- include "containers-cluster-agent-env" . | nindent 4 }}
    {{- include "fips-envvar" . | nindent 4 }}
    {{- include "processes-common-envs" . | nindent 4 }}
    - name: DD_LOG_LEVEL
      value: {{ .Values.agents.containers.processAgent.logLevel | default .Values.datadog.logLevel | quote }}
    - name: DD_SYSTEM_PROBE_ENABLED
      value: {{ .Values.datadog.networkMonitoring.enabled | quote }}
    {{- if .Values.datadog.networkMonitoring.enabled }}
    - name: DD_SYSTEM_PROBE_NETWORK_ENABLED
      value: {{ .Values.datadog.networkMonitoring.enabled | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.connectionsMonitoring.enabled }}
    - name: DD_NETWORK_PATH_CONNECTIONS_MONITORING_ENABLED
      value: {{ .Values.datadog.networkPath.connectionsMonitoring.enabled | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.collector.workers }}
    - name: DD_NETWORK_PATH_COLLECTOR_WORKERS
      value: {{ .Values.datadog.networkPath.collector.workers | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.collector.pathtestTTL }}
    - name: DD_NETWORK_PATH_COLLECTOR_PATHTEST_TTL
      value: {{ .Values.datadog.networkPath.collector.pathtestTTL | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.collector.pathtestInterval }}
    - name: DD_NETWORK_PATH_COLLECTOR_PATHTEST_INTERVAL
      value: {{ .Values.datadog.networkPath.collector.pathtestInterval | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.collector.pathtestContextsLimit }}
    - name: DD_NETWORK_PATH_COLLECTOR_PATHTEST_CONTEXTS_LIMIT
      value: {{ .Values.datadog.networkPath.collector.pathtestContextsLimit | quote }}
    {{- end }}
    {{- if .Values.datadog.networkPath.collector.pathtestMaxPerMinute }}
    - name: DD_NETWORK_PATH_COLLECTOR_PATHTEST_MAX_PER_MINUTE
      value: {{ .Values.datadog.networkPath.collector.pathtestMaxPerMinute | quote }}
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    - name: DD_DOGSTATSD_SOCKET
      value: {{ .Values.datadog.dogstatsd.socketPath | quote }}
    {{- end }}
    - name: DD_ORCHESTRATOR_EXPLORER_ENABLED
      value: {{ (include "should-enable-k8s-resource-monitoring" .) | quote }}
    {{- include "additional-env-entries" .Values.agents.containers.processAgent.env | indent 4 }}
    {{- include "additional-env-dict-entries" .Values.agents.containers.processAgent.envDict | indent 4 }}
  volumeMounts:
    - name: config
      mountPath: {{ template "datadog.confPath" . }}
      readOnly: true
    - name: logdatadog
      mountPath: {{ template "datadog.logDirectoryPath" . }}
      readOnly: false # Need RW to write logs
    {{- if (not .Values.providers.gke.autopilot) }}
    - name: auth-token
      mountPath: {{ template "datadog.confPath" . }}/auth
      readOnly: true
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    {{- if or (not .Values.providers.gke.autopilot) (and .Values.providers.gke.autopilot .Values.datadog.csi.enabled) }}
    - name: dsdsocket
      mountPath: {{ (dir .Values.datadog.dogstatsd.socketPath) }}
      readOnly: true # write access to /var/run/datadog is not needed because the process agent only writes to the socket file, not to the parent directory
    {{- end }}
    - name: tmpdir
      mountPath: /tmp
      readOnly: false # Need RW to write to tmp directory
    {{- include "linux-container-host-release-volumemounts" . | nindent 4 }}
    {{- end }}
    {{- include "container-crisocket-volumemounts" . | nindent 4 }}
    {{- include "container-cloudinit-volumemounts" . | nindent 4 }}
    {{- if and .Values.agents.useConfigMap (eq .Values.targetSystem "linux")}}
    - name: datadog-yaml
      mountPath: {{ template "datadog.confPath" . }}/datadog.yaml
      subPath: datadog.yaml
      readOnly: true
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    - name: cgroups
      mountPath: /host/sys/fs/cgroup
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
    {{- if and (eq (include "should-add-host-path-for-etc-passwd" .) "true") (or .Values.datadog.processAgent.processCollection .Values.datadog.processAgent.processDiscovery .Values.datadog.processAgent.containerCollection) }}
    - name: passwd
      mountPath: /etc/passwd
      readOnly: true
    {{- end }}
    - name: procdir
      mountPath: /host/proc
      mountPropagation: {{ .Values.datadog.hostVolumeMountPropagation }}
      readOnly: true
    {{- if eq (include "should-enable-system-probe" .) "true" }}
    - name: sysprobe-socket-dir
      mountPath: /var/run/sysprobe
      readOnly: true
    - name: sysprobe-config
      mountPath: /etc/datadog-agent/system-probe.yaml
      subPath: system-probe.yaml
      readOnly: true
    {{- end }}
    {{- end }}
    {{- if .Values.datadog.kubelet.hostCAPath }}
{{ include "datadog.kubelet.volumeMount" . | indent 4 }}
    {{- end }}
{{- if .Values.agents.volumeMounts }}
{{ toYaml .Values.agents.volumeMounts | indent 4 }}
{{- end }}
{{- end -}}
