{{- define "container-security-agent" -}}
- name: security-agent
  image: "{{ include "image-path" (dict "root" .Values "image" .Values.agents.image) }}"
  imagePullPolicy: {{ .Values.agents.image.pullPolicy }}
  {{- if eq  (include "should-enable-compliance" .) "true" }}
  securityContext:
    capabilities:
      add: ["AUDIT_CONTROL", "AUDIT_READ"]
  {{- end }}
  command: ["security-agent", "start", "-c={{ template "datadog.confPath" . }}/datadog.yaml"]
  resources:
{{ toYaml .Values.agents.containers.securityAgent.resources | indent 4 }}
{{- if .Values.agents.containers.securityAgent.ports }}
  ports:
{{ toYaml .Values.agents.containers.securityAgent.ports | indent 2 }}
{{- end }}
{{- if or .Values.datadog.envFrom .Values.agents.containers.securityAgent.envFrom }}
  envFrom:
{{- if .Values.datadog.envFrom }}
{{ .Values.datadog.envFrom | toYaml | indent 4 }}
{{- end }}
{{- if .Values.agents.containers.securityAgent.envFrom }}
{{ .Values.agents.containers.securityAgent.envFrom | toYaml | indent 4 }}
{{- end }}
{{- end }}
  env:
    {{- include "containers-common-env" . | nindent 4 }}
    {{- include "containers-cluster-agent-env" . | nindent 4 }}
    {{- include "fips-envvar" . | nindent 4 }}
    - name: DD_LOG_LEVEL
      value: {{ .Values.agents.containers.securityAgent.logLevel | default .Values.datadog.logLevel | quote }}
    - name: DD_COMPLIANCE_CONFIG_ENABLED
      value:  {{ .Values.datadog.securityAgent.compliance.enabled | quote }}
    {{- if .Values.datadog.securityAgent.compliance.enabled }}
    - name: DD_COMPLIANCE_CONFIG_CHECK_INTERVAL
      value: {{ .Values.datadog.securityAgent.compliance.checkInterval | quote }}
    - name: DD_COMPLIANCE_CONFIG_XCCDF_ENABLED
      value: {{ (or .Values.datadog.securityAgent.compliance.xccdf.enabled .Values.datadog.securityAgent.compliance.host_benchmarks.enabled) | quote }}
    - name: DD_COMPLIANCE_CONFIG_HOST_BENCHMARKS_ENABLED
      value: {{ (or .Values.datadog.securityAgent.compliance.xccdf.enabled .Values.datadog.securityAgent.compliance.host_benchmarks.enabled) | quote }}
    - name: HOST_ROOT
      value: /host/root
    {{- end }}
    - name: DD_RUNTIME_SECURITY_CONFIG_ENABLED
      value: {{ .Values.datadog.securityAgent.runtime.enabled | quote }}
    {{- if or .Values.datadog.securityAgent.runtime.enabled .Values.datadog.securityAgent.runtime.fimEnabled }}
    - name: DD_RUNTIME_SECURITY_CONFIG_POLICIES_DIR
      value: "/etc/datadog-agent/runtime-security.d"
    - name: DD_RUNTIME_SECURITY_CONFIG_SOCKET
      value: /var/run/sysprobe/runtime-security.sock
    - name: DD_RUNTIME_SECURITY_CONFIG_USE_SECRUNTIME_TRACK
      value: {{ .Values.datadog.securityAgent.runtime.useSecruntimeTrack | quote }}
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    - name: DD_DOGSTATSD_SOCKET
      value: {{ .Values.datadog.dogstatsd.socketPath | quote }}
    {{- end }}
    {{- include "additional-env-entries" .Values.agents.containers.securityAgent.env | indent 4 }}
    {{- include "additional-env-dict-entries" .Values.agents.containers.securityAgent.envDict | indent 4 }}
  volumeMounts:
    - name: config
      mountPath: {{ template "datadog.confPath" . }}
      readOnly: true
    - name: logdatadog
      mountPath: {{ template "datadog.logDirectoryPath" . }}
      readOnly: false # Need RW to write logs
    {{- if (not .Values.providers.gke.autopilot) }}
    - name: auth-token
      mountPath: {{ template "datadog.confPath" . }}/auth
      readOnly: true
    - name: dsdsocket
      mountPath: {{ (dir .Values.datadog.dogstatsd.socketPath) }}
      readOnly: false # Need RW for UDS DSD socket
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    - name: tmpdir
      mountPath: /tmp
      readOnly: false # Need RW to write to tmp directory
    {{- include "linux-container-host-release-volumemounts" . | nindent 4 }}
    {{- end }}
    {{- include "container-crisocket-volumemounts" . | nindent 4 }}
    {{- include "container-cloudinit-volumemounts" . | nindent 4 }}
    {{- if and .Values.agents.useConfigMap (eq .Values.targetSystem "linux")}}
    - name: datadog-yaml
      mountPath: {{ template "datadog.confPath" . }}/datadog.yaml
      subPath: datadog.yaml
      readOnly: true
    {{- end }}
    {{- if eq .Values.targetSystem "linux" }}
    {{- if .Values.datadog.securityAgent.compliance.enabled }}
    - name: cgroups
      mountPath: /host/sys/fs/cgroup
      readOnly: true
    - name: passwd
      mountPath: /etc/passwd
      readOnly: true
    - name: group
      mountPath: /etc/group
      readOnly: true
    - name: hostroot
      mountPath: /host/root
      readOnly: true
    - name: procdir
      mountPath: /host/proc
      readOnly: true
    {{- if .Values.datadog.kubelet.hostCAPath }}
{{ include "datadog.kubelet.volumeMount" . | indent 4 }}
    {{- end }}
    {{- if .Values.datadog.securityAgent.compliance.configMap }}
    - name: complianceconfigdir
      mountPath: /etc/datadog-agent/compliance.d
      readOnly: true
    {{- end }}
    {{- end }}
    {{- if or .Values.datadog.securityAgent.runtime.enabled .Values.datadog.securityAgent.runtime.fimEnabled }}
    {{- if .Values.datadog.securityAgent.runtime.policies.configMap }}
    - name: runtimepoliciesdir
      mountPath: /etc/datadog-agent/runtime-security.d
      readOnly: true
    {{- end }}
    - name: sysprobe-socket-dir
      mountPath: /var/run/sysprobe
      readOnly: true
    - name: sysprobe-config
      mountPath: /etc/datadog-agent/system-probe.yaml
      subPath: system-probe.yaml
      readOnly: true
    {{- end }}
    {{- end }}
{{- if .Values.agents.volumeMounts }}
{{ toYaml .Values.agents.volumeMounts | indent 4 }}
{{- end }}
{{- end -}}
