{{- if and .Values.providers.gke.autopilot (eq (include "gke-autopilot-workloadallowlists-enabled" .) "true") (not .Values.datadog.envDict.HELM_FORCE_RENDER) }}
apiVersion: auto.gke.io/v1
kind: AllowlistSynchronizer
metadata:
  name: datadog-synchronizer
  annotations:
    helm.sh/hook: "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-1"
spec:
  allowlistPaths:
  - Datadog/datadog/datadog-datadog-daemonset-exemption-v1.0.1.yaml
  - Datadog/datadog/datadog-datadog-daemonset-exemption-v1.0.2.yaml
{{- end }}
