{{- if and .Values.datadog.kubeStateMetricsCore.enabled .Values.datadog.kubeStateMetricsCore.rbac.create }}
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRole
metadata:
  labels:
{{ include "datadog.labels" . | indent 4 }}
  name: {{ template "datadog.fullname" . }}-ksm-core
rules:
- apiGroups:
  - ""
  resources:
{{- if .Values.datadog.kubeStateMetricsCore.collectSecretMetrics }}
  - secrets
{{- end }}
{{- if .Values.datadog.kubeStateMetricsCore.collectConfigMaps }}
  - configmaps
{{- end }}
  - nodes
  - pods
  - services
  - resourcequotas
  - replicationcontrollers
  - limitranges
  - persistentvolumeclaims
  - persistentvolumes
  - namespaces
  - endpoints
  - events
  verbs:
  - list
  - watch
- apiGroups:
  - extensions
  resources:
  - daemonsets
  - deployments
  - replicasets
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  - daemonsets
  - deployments
  - replicasets
  verbs:
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - list
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - volumeattachments
  verbs:
  - list
  - watch
{{- if .Values.datadog.kubeStateMetricsCore.collectVpaMetrics }}
- apiGroups:
  - autoscaling.k8s.io
  resources:
  - verticalpodautoscalers
  verbs:
  - list
  - watch
{{- end }}
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - list
  - watch
- apiGroups:
    - apiextensions.k8s.io
  resources:
    - customresourcedefinitions
  verbs:
    - list
    - watch
{{- if .Values.datadog.kubeStateMetricsCore.collectApiServicesMetrics }}
- apiGroups:
    - apiregistration.k8s.io
  resources:
    - apiservices
  verbs:
    - list
    - watch
{{- end }}
---
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  labels:
{{ include "datadog.labels" . | indent 4 }}
  name: {{ template "datadog.fullname" . }}-ksm-core
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "datadog.fullname" . }}-ksm-core
subjects:
  - kind: ServiceAccount
    {{- if  .Values.datadog.kubeStateMetricsCore.useClusterCheckRunners }}
    name: {{ template "datadog.fullname" . }}-cluster-checks
    {{- else }}
    name: {{ template "datadog.fullname" . }}-cluster-agent
    {{- end }}
    namespace: {{ .Release.Namespace }}
---
{{- end }}
