# Code owners for charts

*  @DataDog/container-helm-chart-maintainers

# Documentation
*.md             @DataDog/documentation container-helm-chart-maintainers

# Charts
charts/datadog/templates/container-system-probe.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-configmap.yaml @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/datadog/templates/system-probe-init.yaml      @DataDog/ebpf-platform @DataDog/container-helm-chart-maintainers
charts/synthetics-private-location/                  @Datadog/synthetics
