# Code owners for charts

*  @DataDog/container-integrations @DataDog/container-ecosystems

# Documentation
*.md             @DataDog/documentation @DataDog/container-integrations @DataDog/container-ecosystems

# Charts
charts/datadog/templates/container-system-probe.yaml @DataDog/agent-network @DataDog/container-integrations
charts/datadog/templates/system-probe-configmap.yaml @DataDog/agent-network @DataDog/container-integrations
charts/datadog/templates/system-probe-init.yaml      @DataDog/agent-network @DataDog/container-integrations
charts/synthetics-private-location/                  @Datadog/synthetics
