{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "datadog-operator.fullname" . }}
  labels:
{{ include "datadog-operator.labels" . | indent 4 }}
rules:
- nonResourceURLs:
  - /metrics
  - /metrics/slis
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - componentstatuses
  - deployments
  - limitranges
  - namespaces
  - persistentvolumeclaims
  - persistentvolumes
  - replicationcontrollers
  - resourcequotas
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - pods
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/configz
  - nodes/healthz
  - nodes/logs
  - nodes/metrics
  - nodes/pods
  - nodes/proxy
  - nodes/spec
  - nodes/stats
  verbs:
  - get
- apiGroups:
  - '*'
  resources:
  - '*/scale'
  verbs:
  - get
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - '*'
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - controllerrevisions
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - rollouts
  verbs:
  - list
  - watch
  - patch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
  - get
- apiGroups:
  - auto.gke.io
  resources:
  - allowlistsynchronizers
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - list
  - watch
- apiGroups:
  - autoscaling.k8s.io
  resources:
  - verticalpodautoscalers
  verbs:
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cilium.io
  resources:
  - ciliumnetworkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagents
  - datadogagents/finalizers
  - datadoggenericresources
  - datadoggenericresources/finalizers
  - datadogmonitors
  - datadogmonitors/finalizers
  - datadogslos
  - datadogslos/finalizers
  - extendeddaemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagents/status
  - datadoggenericresources/status
  - datadogmonitors/status
  - datadogslos/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - datadoghq.com
  resources:
  - datadogmetrics/status
  verbs:
  - update
- apiGroups:
  - datadoghq.com
  resources:
  - datadogmetrics
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogpodautoscalers
  - datadogpodautoscalers/status
  verbs:
  - '*'
- apiGroups:
  - datadoghq.com
  resources:
  - extendeddaemonsetreplicasets
  - watermarkpodautoscalers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - datadoghq.com
  - karpenter.azure.com
  resources:
  - '*'
  verbs:
  - list
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
- apiGroups:
  - external.metrics.k8s.io
  - karpenter.k8s.aws
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
    - gateway.envoyproxy.io
  resources:
    - envoyextensionpolicies
  verbs:
    - create
    - delete
    - get
- apiGroups:
    - gateway.networking.k8s.io
  resources:
    - gatewayclasses
    - gateways
    - httproutes
  verbs:
    - get
    - list
    - patch
    - watch
- apiGroups:
    - gateway.networking.k8s.io
  resources:
    - referencegrants
  verbs:
    - create
    - delete
    - get
    - patch
- apiGroups:
  - karpenter.sh
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metrics.eks.amazonaws.com
  resources:
  - kcm/metrics
  - ksh/metrics
  verbs:
  - get
- apiGroups:
    - networking.istio.io
  resources:
    - envoyfilters
  verbs:
    - create
    - delete
    - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - quota.openshift.io
  resources:
  - clusterresourcequotas
  verbs:
  - get
  - list
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.openshift.io
  resourceNames:
  - restricted
  resources:
  - securitycontextconstraints
  verbs:
  - use
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - volumeattachments
  verbs:
  - get
  - list
  - watch
- apiGroups:  # EKS kube_scheduler and kube_controller_manager control plane metrics
  - "metrics.eks.amazonaws.com"
  resources:
  - kcm/metrics
  - ksh/metrics
  verbs:
  - get
{{- if .Values.datadogAgentInternal.enabled }}
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals/status
  verbs:
  - get
  - patch
  - update
{{- end }}
{{- if .Values.datadogAgentProfile.enabled }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - patch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals
  - datadogagentprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals/finalizers
  - datadogagentprofiles/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogagentinternals/status
  - datadogagentprofiles/status
  verbs:
  - get
  - patch
  - update
{{- end }}
{{- if .Values.datadogDashboard.enabled }}
- apiGroups:
  - datadoghq.com
  resources:
  - datadogdashboards
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datadoghq.com
  resources:
  - datadogdashboards/finalizers
  verbs:
  - update
- apiGroups:
  - datadoghq.com
  resources:
  - datadogdashboards/status
  verbs:
  - get
  - patch
  - update
{{- end }}
{{- if .Values.clusterRole.allowReadAllResources }}
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - list
  - watch
{{- end }}
{{- if .Values.clusterRole.allowCreatePodsExec }}
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
{{- end }}
{{- end -}}
