stages:
  - test
  - e2e_deps
  - e2e

variables:
  CI_IMAGE_LINUX: v84348379-5989c48d
  CI_IMAGE_LINUX_SUFFIX: ""

noop:
  stage: test
  script:
    - echo "No op job to get merge queue working"
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags: ["arch:amd64"]



e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags: ["arch:amd64"]
  variables:
    KUBERNETES_CPU_REQUEST: 16
  rules:
    - if: $CI_COMMIT_BRANCH == main
      changes:
        paths:
          - charts/datadog/*.yaml
          - test/**/*
        compare_to: "refs/heads/main"
      when: always
      variables:
        POLICY: pull-push
    - if: $CI_COMMIT_BRANCH =~ /^mq-working-branch-*/
      changes:
        paths:
          - charts/datadog/*.yaml
          - test/**/*
        compare_to: "refs/heads/main"
      when: always
      allow_failure: true
      variables:
        POLICY: pull
    - when: manual
      variables:
        POLICY: pull
  # id_tokens:
  #   DDOCTOSTS_ID_TOKEN:
  #     aud: dd-octo-sts
  # before_script:
  #   - export GITHUB_TOKEN=$(dd-octo-sts token --scope DataDog/<repo-name> --policy self.gitlab.deps-fetch)
  script:
    - |
      if [ ! -f pulumi_plugins.tar.xz ]; then
        # Pre-download Pulumi plugins used by e2e scenarios and components, should no longer be needed when we move test-infra-definitions to datadog-agent
        pushd test
        PULUMI_CONFIG_PASSPHRASE=dummy pulumi --non-interactive plugin install
        popd
        tar c -I "xz -T${KUBERNETES_CPU_REQUEST}" -f $CI_PROJECT_DIR/pulumi_plugins.tar.xz -C ~/.pulumi plugins
      fi
  artifacts:
    expire_in: 1 day
    paths:
      - $CI_PROJECT_DIR/pulumi_plugins.tar.xz
  cache:
    - key:
        files:
          - ./test/new-e2e/go.mod
          - .gitlab/deps_fetch/deps_fetch.yml
        prefix: "pulumi_plugins"
      paths:
        - pulumi_plugins.tar.xz



e2e:
  stage: e2e
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^mq-working-branch-/'
      changes:
        paths:
          - charts/datadog/*.yaml
          - test/**/*
        compare_to: "refs/heads/main"
      when: always
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        paths:
          - charts/datadog/**
          - test/**/*
        compare_to: "refs/heads/main"
      when: always
    - when: manual
  needs:
    - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags: ["arch:amd64"]
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
    E2E_KEY_PAIR_NAME: ci.helm-charts
    KUBERNETES_MEMORY_REQUEST: 12Gi
    KUBERNETES_MEMORY_LIMIT: 16Gi
  parallel:
    matrix:
      - E2E_BUILD_TAGS:
          - e2e
          - e2e_autopilot
          - e2e_autopilot_systemprobe
          - e2e_autopilot_csi
        E2E_AGENT_VERSION:
          - "7-rc"
  before_script:
    - mkdir -p ~/.pulumi && tar xJf pulumi_plugins.tar.xz -C ~/.pulumi
    - rm -f pulumi_plugins.tar.xz
    # Initial credentials setup with default build-stable AWS profile
    - echo "Starting setup for E2E testing..."

    # TODO: Retrieve with datadog-agent-qa AWS profile when secret is moved to SSM in that account
    - E2E_GCP_PRIVATE_KEY_PASSWORD=$(aws ssm get-parameter --region us-east-1 --name ci.helm-charts.ssh_private_key_password --with-decryption --query "Parameter.Value" --out text)
    - export E2E_GCP_PRIVATE_KEY_PASSWORD

    # Set GITHUB_TOKEN to avoid getting rate-limited when pulumi sdk downloads the kubernetes provider
    - export GITHUB_TOKEN=$(aws ssm get-parameter --region us-east-1 --name ci.helm-charts.github_token --with-decryption --query "Parameter.Value" --out text)

    # Use S3 backend to store stack status
    - export PULUMI_CONFIG_PASSPHRASE=$(aws ssm get-parameter --region us-east-1 --name ci.helm-charts.pulumi_password --with-decryption --query "Parameter.Value" --out text)

    # Configure and use datadog-agent-qa AWS profile
    - mkdir -p ~/.aws
    - aws ssm get-parameter --region us-east-1 --name ci.helm-charts.agent-qa-profile --with-decryption --query "Parameter.Value" --out text >> ~/.aws/config
    - export AWS_PROFILE=agent-qa-ci

    - pulumi login "s3://dd-pulumi-state?region=us-east-1&awssdk=v2&profile=$AWS_PROFILE"

    # SSH Key retrieval for GCP
    - aws ssm get-parameter --region us-east-1 --name ci.helm-charts.ssh_public_key --with-decryption --query "Parameter.Value" --out text > $E2E_GCP_PUBLIC_KEY_PATH || exit $?
    - touch $E2E_GCP_PRIVATE_KEY_PATH && chmod 600 $E2E_GCP_PRIVATE_KEY_PATH && aws ssm get-parameter --region us-east-1 --name ci.helm-charts.ssh_private_key --with-decryption --query "Parameter.Value" --out text > $E2E_GCP_PRIVATE_KEY_PATH || exit $?

    # Setup GCP credentials. https://www.pulumi.com/registry/packages/gcp/installation-configuration/
    # The service account is called `agent-e2e-tests`
    - aws ssm get-parameter --region us-east-1 --name ci.helm-charts.e2e_tests_gcp_credentials --with-decryption --query "Parameter.Value" --out text  > ~/gcp-credentials.json || exit $?
    - export GOOGLE_APPLICATION_CREDENTIALS=~/gcp-credentials.json

  script:
    - E2E_BUILD_TAGS=$E2E_BUILD_TAGS E2E_PROFILE=ci E2E_AGENT_VERSION=$E2E_AGENT_VERSION make test-e2e
