apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "quickwit.fullname" . }}-metastore
  labels:
    {{- include "quickwit.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.metastore.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.metastore.replicaCount }}
  selector:
    matchLabels:
      {{- include "quickwit.metastore.selectorLabels" . | nindent 6 }}
  strategy: {{- toYaml .Values.metastore.strategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.metastore.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "quickwit.additionalLabels" . | nindent 8 }}
        {{- include "quickwit.metastore.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "quickwit.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.metastore.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{ end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if $.Values.metastore.args }}
          args: {{- toYaml $.Values.metastore.args | nindent 10 }}
          {{- else }}
          args: ["run", "--service", "metastore"]
          {{- end }}
          env:
            {{- include "quickwit.environment" . | nindent 12 }}
            {{- range $key, $value := .Values.metastore.extraEnv }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
          {{- if or (.Values.environmentFrom) (.Values.metastore.extraEnvFrom) }}
          envFrom:
          {{- with .Values.environmentFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.metastore.extraEnvFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
          ports:
            {{- include "quickwit.ports" . | nindent 12 }}
          startupProbe:
            {{- toYaml .Values.metastore.startupProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.metastore.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.metastore.readinessProbe | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /quickwit/node.yaml
              subPath: node.yaml
            - name: data
              mountPath: /quickwit/qwdata
            {{- range .Values.configMaps }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
            {{- with .Values.metastore.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.metastore.resources | nindent 14 }}
      volumes:
        - name: config
          configMap:
            name: {{ template "quickwit.fullname" . }}
            items:
              - key: node.yaml
                path: node.yaml
        - name: data
          emptyDir: {}
        {{- range .Values.configMaps }}
        - name: {{ .name }}
          configMap:
            name: {{ .name }}
        {{- end }}
        {{- with .Values.metastore.extraVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.metastore.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with  merge .Values.affinity .Values.metastore.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $tolerations := append .Values.tolerations .Values.metastore.tolerations | compact | uniq }}
      tolerations:
        {{- toYaml $tolerations | nindent 8 }}
      {{- if .Values.metastore.runtimeClassName }}
      runtimeClassName: {{ .Values.metastore.runtimeClassName | quote }}
      {{- end }}
