{{- range $_, $runner := $.Values.runners }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "chart.roleBindingName" $runner.name }}
  namespace: {{ $.Values.common.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "chart.roleName" $runner.name }}
subjects:
  - kind: ServiceAccount
    name: {{ include "chart.serviceAccountName" $runner.name }}
    namespace: {{$.Values.common.namespace}}
{{- end }}