apiVersion: rbac.authorization.k8s.io/v1
kind: {{ $.Values.runner.roleType | default "Role" }}
metadata:
  namespace: {{ $.Release.Namespace }}
  name: {{ include "chart.roleName" $.Values.runner.name }}
rules:
{{- if $.Values.runner.kubernetesPermissions }}
{{ $.Values.runner.kubernetesPermissions | toYaml }}
{{- end }}
{{- if $.Values.runner.kubernetesActions }}
  {{- range $resourceType, $bundle := fromYaml (include "chart.k8sResourceMap" .) }}
    {{- if index $.Values.runner.kubernetesActions $resourceType }}
        {{- include "rbacRule" (dict "apiGroup" (include "chart.k8sApiGroup" $bundle) "resource" (lower $resourceType) "verbs"  (fromJsonArray (include "chart.k8sVerbs" (index $.Values.runner.kubernetesActions $resourceType))))}}
    {{- end }}
  {{- end }}
{{- end }}
