apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.fullname" . }}
  namespace: {{ $.Release.Namespace }}
stringData:
  config.yaml: |
    ddBaseURL: {{ $.Values.runner.config.ddBaseURL }}
    {{- if $.Values.runner.config.urn }}
    urn: {{ $.Values.runner.config.urn }}
    {{- end }}
    {{- if $.Values.runner.config.privateKey }}
    privateKey: {{ $.Values.runner.config.privateKey }}
    {{- end }}
    modes:
    {{- range $mode := $.Values.runner.config.modes }}
      - {{ $mode }}
    {{- end }}
    {{- if $.Values.runner.config.port }}
    port: {{ $.Values.runner.config.port }}
    {{- else if $.Values.runner.config.appBuilder }}
    port: {{ $.Values.runner.config.appBuilder.port }}
    {{- end }}
    {{- if $.Values.runner.config.httpServerWriteTimeout }}
    httpServerWriteTimeout: {{ $.Values.runner.config.httpServerWriteTimeout }}
    {{- end }}
    {{- if $.Values.runner.config.allowIMDSEndpoint }}
    allowIMDSEndpoint: {{ $.Values.runner.config.allowIMDSEndpoint }}
    {{- end }}
    actionsAllowlist:
    {{- range $action := $.Values.runner.config.actionsAllowlist }}
      - {{ $action }}
    {{- end }}
    {{- if $.Values.runner.kubernetesActions }}
      {{- range $resourceType, $bundle := fromYaml (include "chart.k8sResourceMap" .) }}
        {{- range $verb := (index $.Values.runner.kubernetesActions $resourceType) }}
      - com.datadoghq.kubernetes.{{ $bundle }}.{{ $verb }}{{ upper (substr 0 1 $resourceType)}}{{ substr 1 -1 (include "chart.k8sResourceSingular" $resourceType) }}{{ if eq $verb "deleteMultiple" }}s{{ end }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- if $.Values.runner.kubernetesActions }}
      {{- if $.Values.runner.kubernetesActions.customObjects }}
        {{- range $verb := index $.Values.runner.kubernetesActions.customObjects }}
      - com.datadoghq.kubernetes.customresources.{{ $verb }}CustomObject{{ if eq $verb "deleteMultiple" }}s{{ end }}
        {{- end }}
      {{- end}}
    {{- end}}
    {{- if $.Values.runner.config.bundles }}
    bundles: {{ $.Values.runner.config.bundles | toYaml | nindent 6 }}
    {{- end }}
  {{- include "chart.credentialFiles" $ | indent 2 }}
