apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}
  namespace: {{ $.Release.Namespace }}
spec:
  selector:
      {{- include "chart.selectorLabels" . | nindent 6 }}
  ports:
    - name: http
      port: {{ $.Values.runner.config.port | default 9016 }}
      targetPort: {{ $.Values.runner.config.port | default 9016 }}
