runners:
  - name: "custom-runner"
    kubernetesPermissions:
      - apiGroups:
          - ""
        resources:
          - "pods"
        verbs:
          - "list"
          - "get"
          - "create"
          - "patch"
          - "update"
          - "delete"
      - apiGroups:
          - "apps"
        resources:
          - "deployments"
        verbs:
          - "list"
          - "get"
          - "create"
          - "patch"
          - "update"
          - "delete"
    config:
      urn: "URN_FROM_CONFIG"
      privateKey: "PRIVATE_KEY_FROM_CONFIG"
      modes:
        - "workflowAutomation"
        - "appBuilder"
      port: 9016
      actionsAllowlist:
        - com.datadoghq.kubernetes.core.listPod
        - com.datadoghq.http.request
        - com.datadoghq.jenkins.buildJenkinsJob

connectionCredentials:
  basicAuth:
    credentials:
      - fileName: "http_basic_creds.json"
        username: "username"
        password: "password"
      - fileName: "another_http_basic_creds.json"
        username: "another_username"
        password: "another_password"
  tokenAuth:
    credentials:
      - fileName: "http_token_creds.json"
        tokenName: "name"
        tokenValue: "value"
  jenkinsAuth:
    credentials:
      - fileName: "jenkins_creds.json"
        username: "username"
        token: "token"
        domain: "domain"
  postgresAuth:
    credentials:
      - fileName: "creds.pgpass"
        host: "host"
        port: "port"
        user: "user"
        password: "password"
        database: "database"
        sslMode: "sslMode"
        applicationName: "applicationName"
        searchPath: "searchPath"
