---
apiVersion: v1
name: datadog
<<<<<<< HEAD
version: 3.172.0
=======
version: 3.171.1
>>>>>>> origin/HEAD
appVersion: "7"
description: Datadog Agent
keywords:
  - monitoring
  - alerting
  - metric
home: https://www.datadoghq.com
icon: https://datadog-live.imgix.net/img/dd_logo_70x75.png
sources:
  - https://app.datadoghq.com/account/settings#agent/kubernetes
  - https://github.com/DataDog/datadog-agent
maintainers:
  - name: Datadog
    email: support@datadoghq.com
