dependencies:
  - name: datadog-crds
    version: 2.13.1
    repository: https://helm.datadoghq.com
    condition: datadog.autoscaling.workload.enabled,clusterAgent.metricsProvider.useDatadogMetrics
    tags:
    - install-crds
  - name: kube-state-metrics
    version: 2.13.2
    repository: https://prometheus-community.github.io/helm-charts
    condition: datadog.kubeStateMetricsEnabled
  - name: datadog-csi-driver
    version: 0.4.3
    repository: https://helm.datadoghq.com
    condition: datadog.csi.enabled
