dependencies:
  - name: datadog-crds
    version: "=0.1.1"
    repository: https://helm.datadoghq.com
    condition: clusterAgent.metricsProvider.useDatadogMetrics
    tags:
    - install-crds
  - name: kube-state-metrics
    version: "=2.13.2"
    repository: https://kubernetes.github.io/kube-state-metrics
    condition: datadog.kubeStateMetricsEnabled
