# Datadog Instrumentation CRD

![Version: {{ .Version }}](https://img.shields.io/badge/Version-{{ .Version | replace "-" "--" }}-informational?style=flat-square) ![AppVersion: {{ .AppVersion }}](https://img.shields.io/badge/AppVersion-{{ .AppVersion | replace "-" "--" }}-informational?style=flat-square)

Installs the DatadogInstrumentation custom resource definition used by the Datadog Cluster Agent.

{{ template "chart.valuesSection" . }}
