datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
  confd:
    http_check.yaml: |-
      init_config:
      instances:
        - name: "test"
          url: "https://google.com"
