datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
  apm:
    instrumentation:
      enabled: true
clusterAgent:
  enabled: true
  admissionController:
    enabled: true
    targets:
      - name: "example"
        podSelector:
          matchLabels:
            language: "python"
        namespaceSelector:
          matchNames:
            - "applications"
        ddTraceVersions:
          python: "v2"
        ddTraceConfigs:
          - name: "DD_PROFILING_ENABLED"
            value: "true"
