datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
  apm:
    enabled: true
clusterAgent:
  enabled: true
  admissionController:
    enabled: true
agents:
  localService:
    forceLocalServiceEnabled: false

operator:
  datadogSLO:
    enabled: false
  datadogGenericResource:
    enabled: false
