datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
  clusterChecks:
    enabled: true

clusterAgent:
  enabled: true
  rbac:
    create: true
    serviceAccountAdditionalLabels:
      "app.kubernetes.io/custom-label": custom-value

clusterChecksRunner:
  enabled: true
  replicas: 1
  rbac:
    dedicated: true
    serviceAccountAdditionalLabels:
      "app.kubernetes.io/custom-label": custom-value
