datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
  clusterName: kubernetes-cluster.example.comkubernetes-cluster.example.com.kube.rnetes-80chars

  kubeStateMetricsCore:
    enabled: true

  helmCheck:
    enabled: true
    collectEvents: true

  collectEvents: true

  orchestratorExplorer:
    enabled: true

clusterAgent:
  enabled: true
  confd:
    redisdb.yaml: |-
      cluster_check: true
      init_config:
      instances:
        - host: "redis.default.svc.cluster.local"
          port: "6379"
  advancedConfd:
    orchestrator.d:
      1.yaml: |-
        cluster_check: true
        init_config:
        instances:
          - collectors:
            - nodes
            skip_leader_election: true
      2.yaml: |-
        cluster_check: true
        init_config:
        instances:
          - collectors:
            - deployments
            skip_leader_election: true

providers:
  eks:
    controlPlaneMonitoring: true
