targetSystem: "linux"
fullnameOverride: "gw-with-dca"
datadog:
  apiKey: "00000000000000000000000000000000"
  appKey: "0000000000000000000000000000000000000000"
  kubelet:
    tlsVerify: false
agents:
  enabled: false
clusterAgent:
  enabled: true
  metricsProvider:
    enabled: true
otelAgentGateway:
  enabled: true
  ports:
    - containerPort: "4317"
      name: "otel-grpc"
  config: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: "0.0.0.0:4317"
    exporters:
      debug:
      otlphttp:
        endpoint: otlp.datadoghq.com
    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [otlphttp, debug]
        metrics:
          receivers: [otlp]
          exporters: [otlphttp, debug]
        logs:
          receivers: [otlp]
          exporters: [otlphttp, debug]
  replicas: 4
  autoscaling:
    enabled: true
    annotations: {}
    minReplicas: 2
    maxReplicas: 10
    metrics:
      - type: External
        external:
          metric:
            name: custom.request_per_second  # collected by DCA
            selector:
              matchLabels:
                env: prod
                service: web
          target:
            type: AverageValue
            averageValue: "200"
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 30
      scaleDown:
        stabilizationWindowSeconds: 60
