apiVersion: v2
name: datadog-operator
version: 2.17.0-dev.2
appVersion: 1.22.0-rc.1
description: Datadog Operator
keywords:
- monitoring
- alerting
- metric
home: https://www.datadoghq.com
icon: https://datadog-live.imgix.net/img/dd_logo_70x75.png
sources:
- https://app.datadoghq.com/account/settings#agent/kubernetes
- https://github.com/DataDog/datadog-agent
maintainers:
- name: Datadog
  email: support@datadoghq.com
dependencies:
- name: datadog-crds
  version: 2.15.0-dev.1
  alias: datadogCRDs
  repository: file://../datadog-crds
  condition: installCRDs
  tags:
  - install-crds
