apiVersion: v2
name: datadog-operator
version: 0.7.6
appVersion: 0.7.2
description: Datadog Operator
keywords:
- monitoring
- alerting
- metric
home: https://www.datadoghq.com
icon: https://datadog-live.imgix.net/img/dd_logo_70x75.png
sources:
- https://app.datadoghq.com/account/settings#agent/kubernetes
- https://github.com/DataDog/datadog-agent
maintainers:
- name: Datadog
  email: support@datadoghq.com
dependencies:
- name: datadog-crds
  version: "=0.4.5"
  repository: https://helm.datadoghq.com
  condition: installCRDs
  tags:
  - install-crds
