apiVersion: v2
name: datadog-operator
version: 0.1.1
appVersion: 0.3.1
description: Datadog Operator
keywords:
- monitoring
- alerting
- metric
home: https://www.datadoghq.com
icon: https://datadog-live.imgix.net/img/dd_logo_70x75.png
sources:
- https://app.datadoghq.com/account/settings#agent/kubernetes
- https://github.com/DataDog/datadog-agent
maintainers:
- name: Datadog
  email: support@datadoghq.com
