apiVersion: v2
name: datadog-operator
version: 1.0.2
appVersion: 1.0.0
description: Datadog Operator
keywords:
- monitoring
- alerting
- metric
home: https://www.datadoghq.com
icon: https://datadog-live.imgix.net/img/dd_logo_70x75.png
sources:
- https://app.datadoghq.com/account/settings#agent/kubernetes
- https://github.com/DataDog/datadog-agent
maintainers:
- name: Datadog
  email: support@datadoghq.com
dependencies:
- name: datadog-crds
  version: "=1.0.0"
  alias: datadogCRDs
  repository: https://helm.datadoghq.com
  condition: installCRDs
  tags:
  - install-crds
