name: Bump Chart Version

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]

# Permission forced by repo-level setting; only elevate on job-level
permissions:
  id-token: write # Required for dd-octo-sts action
  pull-requests: write
  contents: write
  # packages: read

jobs:
  bump-chart-version:
    runs-on: ubuntu-latest
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/helm-charts
          policy: self.bump-chart-version.create-commit

      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Extract all chart label information and update Chart.yaml and CHANGELOG.md
        id: update_charts
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          github-token: ${{ steps.octo-sts.outputs.token }}
          script: |
            const script = require('./.github/scripts/bump-chart-version.js')
            await script({github, context, core, exec})
