name: Go Test Datadog CSI Driver
on:
  push:
    paths:
      - 'test/datadog-csi-driver/**'
      - 'charts/datadog-csi-driver/**'
  pull_request:
    paths:
      - 'test/datadog-csi-driver/**'
      - 'charts/datadog-csi-driver/**'

# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read

env:
  GO111MODULE: "on"
  PROJECTNAME: "helm-charts"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25
      id: go
    - name: Set up Helm
      uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5.0
      with:
        version: v3.10.1
    - name: Add Datadog Helm repo
      run: helm repo add datadog https://helm.datadoghq.com && helm repo update
    - name: Check out code into the Go module directory
      uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - name: run Go tests
      run: |
        helm dependency build ./charts/datadog-csi-driver
        make unit-test-datadog-csi-driver
