name: Go Test Datadog
on:
  push:
    paths:
      - 'test/datadog/**'
      - 'charts/datadog/**'
  pull_request:
    paths:
      - 'test/datadog/**'
      - 'charts/datadog/**'

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read

env:
  GO111MODULE: "on"
  PROJECTNAME: "helm-charts"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@0caeaed6fd66a828038c2da3c0f662a42862658f # v1.1.3
        with:
          go-version: 1.21
        id: go
      - name: Set up Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
        with:
          version: v3.14.0
      - name: Add Datadog Helm repo
        run: helm repo add datadog https://helm.datadoghq.com && helm repo update
      - name: Add Prometheus Community Helm repo
        run: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts && helm repo update
      - name: Check out code into the Go module directory
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
      - name: run Go tests
        run: |
          helm dependency build ./charts/datadog
          make unit-test-datadog
