name: Go Test YAML Mapper
on:
  push:
    paths:
      - 'test/datadog/**'
      - 'test/datadog/yamlmapper/**'
      - 'charts/datadog/**'
      - '.github/workflows/go-test-yamlmapper.yaml'
  pull_request:
    paths:
      - 'test/datadog/**'
      - 'test/datadog/yamlmapper/**'
      - 'charts/datadog/**'
      - '.github/workflows/go-test-yamlmapper.yaml'

# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read

env:
  GO111MODULE: "on"
  PROJECTNAME: "helm-charts"
jobs:
  integ-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    strategy:
      matrix:
        versions:
          - k8s: v1.31.9
            kind: v0.22.0
          - k8s: v1.32.5
            kind: v0.22.0
          - k8s: v1.33.1
            kind: v0.22.0
    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25
        id: go
      - name: Set up Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
        with:
          version: v3.17.2
      - name: Add Datadog Helm repo
        run: helm repo add datadog https://helm.datadoghq.com && helm repo update
      - name: Add Prometheus Community Helm repo
        run: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts && helm repo update
      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Create K8s ${{ matrix.versions.k8s }} cluster with kind version ${{ matrix.versions.kind }}
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0
        with:
          version: ${{ matrix.versions.kind }}
          node_image: kindest/node:${{ matrix.versions.k8s }}
          cluster_name: datadog-ci-${{ matrix.versions.k8s }}
          config: .github/kind_config.yaml
      - name: Install Datadog CRDs
        run: |
          helm install datadog-crds ./charts/datadog-crds \
            --create-namespace --namespace datadog-crds \
            --set crds.datadogAgents=true \
            --set crds.datadogAgentInternals=true \
            --wait --timeout 2m
      - name: Run yamlmapper integ tests
        run: |
          kubectl cluster-info
          kubectl get nodes
          helm dependency build ./charts/datadog
          helm dependency build ./charts/datadog-operator
          make integ-test-mapper-strict
