name: Go Test
on:
  push:
    paths:
      - 'test/datadog-operator/**'
      - 'charts/datadog-operator/**'
  pull_request:
    paths:
      - 'test/datadog-operator/**'
      - 'charts/datadog-operator/**'

# Permission forced by repo-level setting; only elevate on job-level
permissions:
  contents: read
  # packages: read

env:
  GO111MODULE: "on"
  PROJECTNAME: "helm-charts"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.21
      id: go
    - name: Set up Helm
      uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
      with:
        version: v3.17.2
    - name: Add Datadog Helm repo
      run: helm repo add datadog https://helm.datadoghq.com && helm repo update
    - name: Check out code into the Go module directory
      uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - name: run Go tests
      run: |
        helm dependency build ./charts/datadog-operator
        make unit-test-operator

  integ-tests:
    if: ${{github.event.pull_request.head.repo.full_name == github.repository }}
    name: integ-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - k8s: v1.22.17
            kind: v0.22.0
          - k8s: v1.24.17
            kind: v0.22.0
          - k8s: v1.25.16
            kind: v0.22.0
          - k8s: v1.26.15
            kind: v0.22.0
          - k8s: v1.27.16
            kind: v0.22.0
          - k8s: v1.28.13
            kind: v0.22.0
          - k8s: v1.29.8
            kind: v0.22.0
          - k8s: v1.30.13
            kind: v0.22.0
          - k8s: v1.31.9
            kind: v0.22.0
          - k8s: v1.32.5
            kind: v0.22.0
          - k8s: v1.33.1
            kind: v0.22.0
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Create K8s ${{ matrix.versions.k8s }} cluster with kind version ${{ matrix.versions.kind }}
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0
        with:
          version: ${{ matrix.versions.kind }}
          node_image: kindest/node:${{ matrix.versions.k8s }}
          cluster_name: operator-ci-${{ matrix.versions.k8s }}
          config: .github/kind_config.yaml
      - name: Add Cert Manager Helm repo
        run: helm repo add jetstack https://charts.jetstack.io && helm repo update
      - name: Add Datadog Helm repo
        run: helm repo add datadog https://helm.datadoghq.com && helm repo update
      - name: Run integ tests
        env:
          API_KEY: ${{ secrets.GO_INTEG_TEST_API_KEY }}
          APP_KEY: ${{ secrets.GO_INTEG_TEST_APP_KEY }}
          CLUSTER_NAME: operator-ci-${{ matrix.versions.k8s }}
          K8S_VERSION: ${{ matrix.versions.k8s }}
        run: |
          kubectl cluster-info
          kubectl get nodes
          helm dependency build ./charts/datadog-operator
          make integration-test
